<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="username">UserName: </label>
  <input id="username" type="text" formControlName="username" placeholder="UserName" />
  <br />
  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name" placeholder="Name" />
  <br />
  <label for="email"> Email: </label>
  <input id="email" type="text" formControlName="email" placeholder="Email" />

  <div formGroupName="address">
    <label for="street">Address: </label>
    <input id="city" type="text" formControlName="city" placeholder="City" />
    <input id="street" type="text" formControlName="street" placeholder="Street" />
  </div>

  <button type="button" (click)="cancel()">Cancel</button>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
