:host {
  display: block;
  width: 100%;
  height: 100%;
}

.header {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navigation--link {
  margin-left: 1rem;
}
